.about__description {
    position: relative;
    width: 100%;
    min-height: 200px;
    padding: 20px;
    top: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;

    h1 {
        color: #0D2B76;
        margin-bottom: 20px;
    }
    p {
        flex: 1 1;
        width: 50%;

        @media screen and (max-width: 600px){
            width: 100%;
        }
    }
    img {
        width: 80%;
        @media screen and (max-width: 600px){
            width: 100%;
        }
    }
}