$primary__dark: #0D2B76;
 
.asked__questions {
    position: relative;
    width: 100%;
    min-height: 200px;
    padding: 20px;
    top: 160px;
    display: flex;
    // justify-content: center;
    flex-wrap: wrap;

    & > div {
        flex: 1 1 20%;
    }
    &--question {
        color: $primary__dark;
        display: flex;
        justify-content: center;
        height: auto;
    }
    &--answer {
        height: auto;
        p {
            margin: 10px;
        }
    }
}